<%- include("partials/header.ejs") %>
  
  
  
  <form action="/weather" method="post">
    
      
      
       
        
          
          <input type="text" class="form-control mx-4 mx-md-3" name="City" placeholder="Stad">
          
       
        
          <button type="submit" class="btn btn-info mx-4"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg></button>
        
      
      
      
    
  </form>

  
  <div class="container col bg-secondary d-flex justify-content-center m-1">
 <% for(var i=0; i<content.forecastday.length; i++){%>
    <div class="col m-5">
    <p class="date"><%=content.forecastday[i].date %></p>
    <img src="<%=content.forecastday[i].day.condition.icon %>" alt="" width="80px" height="80px">
  <p class="condition"><%=content.forecastday[i].day.condition.text %></p>
  <p class="country"><%=country%></p>
  
  <p class="temperatur"><%=content.forecastday[i].day.maxtemp_c%>°</p>
  
</div>
   
 <%}%>
 
  
</div>
 <details>
  <summary>V</summary>
  <div style="height: 250px; width: 250px; background-color: brown;"></div>
 </details>
 
 

 
 <%- include("partials/footer.ejs") %>